<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    <style>

      #grad {
        /* background-image: linear-gradient(to right, rgba(19, 18, 18, 0), rgb(24, 22, 22)); */
        background-color: black;
      }
      * {box-sizing: border-box;}
      body {font-family: Verdana, sans-serif;}
      .mySlides {display: none;}
      img {vertical-align: middle;}

      /* Slideshow container */
      .slideshow-container {
        max-width: 800px;
        position: relative;
        margin: auto;
      }


      /* The dots/bullets/indicators */
      .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .active {
        background-color: #717171;
      }

      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }

      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }

      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .text {font-size: 11px}
      }
    </style>
</head>
<body>

    <div class="jumbotron text-center" id="grad">
    
        <h1 style="color:white;">Captured Moments</h1>

        <br />

        <!-- slideshow start -->

        <div class="slideshow-container">

            <div class="mySlides fade">
            <img src="slide1.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
            <img src="slide2.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
            <img src="slide3.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
            <img src="slide4.jpg" style="width:100%">
            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
        </div>
        <!-- slideshow end -->

        <p style="color:white;">Login or Register with:</p>

        <a href="<%=url%>" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

    </div>


<!-- method script for slideshow -->
<script>
    var slideIndex = 0;
    showSlides();
    
    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 2000); // image changes every 2 seconds
    }
    </script>
    

</body>
</html>